{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}